<p class="text-center"><strong>Stacy Karthas</strong></p>
  <p class="text-center"><em>The Data Incubator</em></p>

<div class="container-fluid bg-white">
  <div class="row">
    <div class="col-sm-4">
        <img src="{{ url_for('static', filename='headshot.jpg') }}" align="left" class="img-rounded person" alt="Stacy" width="255">
    </div>
    <div class="col-sm-8">
        <p><strong>Education: </strong> M.A. Physics, Stony Brook University, Stony Brook, NY (December 2016)
                                        B.S. Physics
                                        B.S. Mathematics, University of New Hampshire, Durham, NH (May 2014)</p>
        <p><strong>Background: </strong> Stacy's background is primarily in Experimental Nuclear Physics with the PHENIX experiment. Graduating with a master's degree in physics from Stony Brook University, Stacy is prepared to become a creative, attentive, and results driven data scientist. </p>
        
        
    </div>
  </div>
</div>