
<p class="text-center"> One feature for the prediction is the airport. In the map shown below one sees based ont he size of circles that certain airports have a higher average delay than others.</p>
      <iframe width="900" height="800" frameborder="0" scrolling="no" src="//plot.ly/~skarthas/26.embed"></iframe>
<p class="text-center" style = 'font-size:130%'>Airports Fort Lauderdale versus Boston</p>
<p class="text-center">Fort Lauderdale and Boston are similar airports with regards to number of flights per day and airlines servicing them. Naively, the two delay trends look similar except for a few sharp peaks scattered throughout. If only weather delays are considered, it is clear these spikes are because of snow in the winter in Massachusetts and summer weather events in Florida. </p>

<iframe width="900" height="800" frameborder="0" scrolling="no" src="//plot.ly/~skarthas/86.embed"></iframe>

<p class="text-center" style = 'font-size:130%'>Time of day variation</p>

<p class="text-center">Over the course of a day, the average delays seem to increase and then become more speradic through the night. This suggests that delays early in the day stack to influence those later in the day.</p>

<img src="{{ url_for('static', filename='four.png') }}" align="center" alt="four" width="600" height = "500" margin-bottom="50px">