<p><em>Aren't you sick of delayed flights?</em></p>
  
  <br>
  <div class="row">
    <div class="col-sm-4">
        <p class="text-center"><font color = "#175584"><strong>Everyone hates delays!</strong></font></p><br>
        <p> Millions of Americans take domestic flights within the United States every day and many of them will be delayed. This can cause unforeseen circumstances to ruin plans and engagements.</p>
     
    </div>
    <div class="col-sm-4">
        <p class="text-center"><font color = "#175584"><strong>Where is the data from?</strong></font></p><br>
      <p>Years of data for delays and cancelations of domestic flights, along with passenger information is available via the US department of Transportation. This data has been and will be used to predict the likelihood of flight delay.</p>
    </div>
    <div class="col-sm-4">
        <p class="text-center"><font color = "#175584"><strong>So, What's the app?</strong></font></p><br>
        <p>An application that would predict the likelihood and length of a delay a customer can expect depending on the flight they choose. </p>
    </div>
  </div>